<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>LitmusDXV2 Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a3ffec">  <td>20/11/27 21:36:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionSuite.appLaunch()[pri:0, instance:com.litmusdxv2.test.LoginRegressionSuite@6c3708b3]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@92150540</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>20/11/27 21:37:15</td>   <td>47560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionSuite.appLaunch()[pri:0, instance:com.litmusdxv2.test.LoginRegressionSuite@6c3708b3]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@92150540</td>   <td></td> </tr>
<tr bgcolor="b8fe70">  <td>20/11/27 21:37:59</td>   <td>90801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MyAccountRegressionSuite.appLaunch()[pri:0, instance:com.litmusdxv2.test.MyAccountRegressionSuite@1f36e637]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@92150540</td>   <td></td> </tr>
<tr bgcolor="b8fe70">  <td>20/11/27 21:38:05</td>   <td>97250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyAccountRegressionSuite.chkHistory()[pri:0, instance:com.litmusdxv2.test.MyAccountRegressionSuite@1f36e637]">chkHistory</td> 
  <td>main@92150540</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>20/11/27 21:37:10</td>   <td>41859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginRegressionSuite.closeBrowser()[pri:0, instance:com.litmusdxv2.test.LoginRegressionSuite@6c3708b3]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@92150540</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>20/11/27 21:37:52</td>   <td>84629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginRegressionSuite.closeBrowser()[pri:0, instance:com.litmusdxv2.test.LoginRegressionSuite@6c3708b3]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@92150540</td>   <td></td> </tr>
<tr bgcolor="b8fe70">  <td>20/11/27 21:38:47</td>   <td>139423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MyAccountRegressionSuite.closeBrowser()[pri:0, instance:com.litmusdxv2.test.MyAccountRegressionSuite@1f36e637]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@92150540</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>20/11/27 21:37:21</td>   <td>53086</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionSuite.verifyInvalidLogin()[pri:1, instance:com.litmusdxv2.test.LoginRegressionSuite@6c3708b3]">verifyInvalidLogin</td> 
  <td>main@92150540</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>20/11/27 21:36:36</td>   <td>7738</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionSuite.verifyValidLogin()[pri:0, instance:com.litmusdxv2.test.LoginRegressionSuite@6c3708b3]">verifyValidLogin</td> 
  <td>main@92150540</td>   <td></td> </tr>
</table>
