<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a3ffec">  <td>20/11/27 22:30:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MyAccountRegressionSuite.appLaunch()[pri:0, instance:com.litmusdxv2.test.MyAccountRegressionSuite@63753b6d]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@57748372</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>20/11/27 22:31:05</td>   <td>8017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyAccountRegressionSuite.chkHistory()[pri:0, instance:com.litmusdxv2.test.MyAccountRegressionSuite@63753b6d]">chkHistory</td> 
  <td>main@57748372</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>20/11/27 22:31:29</td>   <td>32452</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MyAccountRegressionSuite.closeBrowser()[pri:0, instance:com.litmusdxv2.test.MyAccountRegressionSuite@63753b6d]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@57748372</td>   <td></td> </tr>
</table>
