<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Default suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a8684">  <td>20/11/07 22:46:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionSuite.appLaunch()[pri:0, instance:com.litmusdxv2.test.LoginRegressionSuite@3a5ed7a6]">appLaunch</td> 
  <td>main@1605283233</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>20/11/07 22:47:21</td>   <td>67413</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginRegressionSuite.closeBrowser()[pri:0, instance:com.litmusdxv2.test.LoginRegressionSuite@3a5ed7a6]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1605283233</td>   <td></td> </tr>
</table>
