<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Nopcommerce Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="92ec79">  <td>20/06/07 14:57:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionSuite.appLaunch()[pri:0, instance:com.litmusdxv2.test.LoginRegressionSuite@5abca1e0]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@57748372</td>   <td></td> </tr>
<tr bgcolor="92ec79">  <td>20/06/07 14:57:26</td>   <td>24109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionSuite.verifyValidLogin()[pri:0, instance:com.litmusdxv2.test.LoginRegressionSuite@5abca1e0]">verifyValidLogin</td> 
  <td>main@57748372</td>   <td></td> </tr>
<tr bgcolor="92ec79">  <td>20/06/07 14:57:57</td>   <td>54985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginRegressionSuite.closeBrowser()[pri:0, instance:com.litmusdxv2.test.LoginRegressionSuite@5abca1e0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@57748372</td>   <td></td> </tr>
<tr bgcolor="92ec79">  <td>20/06/07 14:57:59</td>   <td>57106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionSuite.appLaunch()[pri:0, instance:com.litmusdxv2.test.LoginRegressionSuite@5abca1e0]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@57748372</td>   <td></td> </tr>
<tr bgcolor="92ec79">  <td>20/06/07 14:58:07</td>   <td>65456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionSuite.verifyInvalidLogin()[pri:1, instance:com.litmusdxv2.test.LoginRegressionSuite@5abca1e0]">verifyInvalidLogin</td> 
  <td>main@57748372</td>   <td></td> </tr>
<tr bgcolor="92ec79">  <td>20/06/07 14:58:37</td>   <td>95716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginRegressionSuite.closeBrowser()[pri:0, instance:com.litmusdxv2.test.LoginRegressionSuite@5abca1e0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@57748372</td>   <td></td> </tr>
</table>
